#random{
    background-color: rgb(209, 206, 206);
    color: blanchedalmond;
}

#random2{
    background-color: rgb(122, 119, 119);
    color: rgb(255, 255, 255);
}

#random3{
    background-color: rgb(212, 104, 104);
    color: rgb(255, 255, 255);
}