<br>
<div class="content">
    <div class="card">
        <div class="card-header">
            <h5>Renk ekle</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="colorAddForm">
                <div class="mb-3">
                    <label>Renk adı</label>
                    <input type="text" placeholder="Renk adı" formControlName="colorName" class="form-control" />
                </div>



              

            </form>
        </div>
        <div class="card-footer">
            <button [disabled]="!colorAddForm.valid" class="btn btn-success" (click)="add()">
                Ekle
            </button>
        </div>
    </div>
</div>